@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --c-bg: #003049;
  --c-dark: rgba(0, 0, 0, 0.5);
  --c-light: #669bbc;
  --c-text: #fdf0d5;
  --c-accent: #780000;
  --c-accent-light: #c1121f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--c-bg);
  color: var(--c-text);
  padding-top: 32px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.library-container {
  padding: 32px 5vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 64px;
}

.library-item {
  background-color: var(--c-light);
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  padding: 16px;
  margin-top: 1px;
}

.library-container > div:first-of-type {
  background-color: var(--c-accent-light);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.library-container > div:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.book-delete:hover {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.book-delete:active {
  transform: translateY(2px);
}

footer {
  width: 100%;
  height: 32px;
  background-color: var(--c-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--c-text);
}

.item-add-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background-color: var(--c-accent);
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  outline: 1px solid var(--c-text);
  box-shadow: 5px 5px 5px var(--c-dark);
  transition: 0.1s ease-in-out;
}

.item-add-button:hover {
  filter: brightness(1.2);
}

.item-add-button:active {
  transform: translateY(5px);
}

.item-add-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--c-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-add-modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--c-light);
  padding: 48px;
  border-radius: 8px;
}

.item-add-modal-form p {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-add-modal-form > p > label {
  font-size: 14px;
  text-transform: uppercase;
}

input:not(input[type="checkbox"]),
#submit {
  flex-grow: 1;
  font-size: 18px;
  background-color: #ffffff;
  border: 1.5px solid var(--c-bg);
  border-radius: 4px;
  color: var(--c-bg);
  font-weight: 600;
}

#submit {
  margin-top: 8px;
  height: 32px;
  cursor: pointer;
}

input[type="checkbox"] {
  transform: scale(1.3);
}

.item-add-modal-form-isread {
  flex-direction: row !important;
  gap: 8px;
}

.modal-close-container {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}
